.kyc-providers-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(48);
}

.kyc-providers-loader__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: toRem(16);
}

.kyc-providers-loader__header-icon {
  @include static-icon-size(48);
}

.kyc-providers-loader__header-title {
  color: var(--text-primary-main);
  font-size: clamp(#{toRem(24)}, 5vw, #{toRem(42)});
  font-weight: 700;
}

.kyc-providers-loader__header-subtitle {
  text-align: center;
  color: var(--text-tertiary-main);
  font-size: clamp(#{toRem(12)}, 2.5vw, #{toRem(16)});
}

.kyc-providers-loader__list {
  display: flex;
  flex-direction: column;
  gap: toRem(16);
  width: 100%;
}

.kyc-providers-loader__tip {
  display: flex;
  align-items: baseline;
  gap: toRem(4);
  color: var(--text-secondary-main);
}

.kyc-providers-loader__tip-text {
  align-self: center;
}

.kyc-providers-loader .kyc-providers-loader__dropdown-btn {
  text-decoration: underline;
  color: var(--primary-main);
  gap: toRem(4);

  &:hover, &:focus {
    text-decoration: underline;
    color: var(--primary-main);
  }
}

.kyc-providers-loader__links-list {
  background: var(--background-secondary-main);
  border: toRem(1) solid var(--border-primary-main);
  box-shadow: 0 toRem(4) toRem(6) -#{toRem(2)} rgba(16, 24, 40, 0.03),
  0 toRem(12) toRem(16) -#{toRem(4)} rgba(16, 24, 40, 0.08);
}

.kyc-providers-loader .kyc-providers-loader__links-item {
  justify-content: flex-start;
  width: 100%;

  &:hover {
    background: #F2F4F7;
  }
}
