.auth-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(48);
}

.auth-preview__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: toRem(16);
}

.auth-preview__header-title {
  color: var(--text-primary-main);
  font-size: clamp(#{toRem(24)}, 5vw, #{toRem(42)});
  font-weight: 700;
}

.auth-preview__header-subtitle {
  text-align: center;
  font-style: normal;
  text-transform: capitalize;
  color: var(--text-tertiary-main);
  font-size: toRem(16);
  line-height: 1.6;
  font-weight: 400;
}

.auth-preview__card {
  display: flex;
  flex-direction: column;
  gap: toRem(24);
  width: 100%;
  min-height: toRem(400);

  .auth-preview--invalid & {
    gap: toRem(40);
  }

  @include card;
}

.auth-preview__card-overhead {
  font: inherit;
  line-height: 1.4;
}

.auth-preview__metadata {
  display: flex;
  flex-direction: column;
  gap: toRem(24);
  width: 100%;
}

.auth-preview__metadata-item {
  display: flex;
  justify-content: space-between;
  gap: toRem(12);
}

.auth-preview__metadata-item-label {
  font-size: toRem(16);
  line-height: 1.4;
  color: var(--text-secondary-main);
}

.auth-preview__metadata-item-value {
  text-align: right;
  font-size: toRem(16);
  font-weight: 500;
  line-height: 1.4;
  color: var(--text-primary-main);
}

.auth-preview__card-divider {
  background: var(--border-primary-main);
  width: 100%;
  height: toRem(1);
}

.auth-preview__card-button {
  width: 100%;
}

.auth-preview__card-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(16);
}

.auth-preview__card-error-icon-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--error-main);
  color: var(--white);

  @include static-icon-size(64);
}

.auth-preview__card-error-icon {

  @include static-icon-size(28);
}

.auth-preview__card-error-title {
  color: var(--error-main);
  text-align: center;
  font-size: toRem(20);
  line-height: 1.1;
  font-weight: 500;
}

.auth-preview__card-error-message {
  text-align: center;
  color: var(--text-secondary-main);
  font-size: toRem(16);
  line-height: 1.6;
  max-width: 80%;
}

.auth-preview__card-caution-body {
  display: flex;
  align-items: center;
  gap: toRem(16);
  font-size: toRem(14);
  font-weight: 500;
  line-height: 1.4;

  @include respond-to(xsmall) {
    flex-direction: column;
  }
}

.auth-preview__card-caution-btn {
  min-width: max-content;

  @include respond-to(xsmall) {
    width: 100%;
  }
}

.auth-preview__loader-wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.auth-preview__loader-title {
  text-align: center;
  margin: toRem(16) 0 toRem(8);
  color: var(--text-primary-main);
  font-size: toRem(16);
  font-weight: 500;
  line-height: 1.4;
}

.auth-preview__loader-subtitle {
  text-align: center;
  color: var(--text-secondary-main);
  font-size: toRem(14);
  font-weight: 400;
  line-height: 1.6;
}


