.auth-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(48);
}

.auth-preview__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: toRem(16);
}

.auth-preview__card {
  display: flex;
  flex-direction: column;
  gap: toRem(24);
  width: 100%;

  .auth-preview--invalid & {
    gap: toRem(40);
  }

  @include card;
}

.auth-preview__metadata {
  display: flex;
  flex-direction: column;
  gap: toRem(24);
  width: 100%;
}

.auth-preview__metadata-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-preview__metadata-item-label {
  font-size: toRem(16);
  line-height: 1.4;
  color: var(--text-secondary-main);
}

.auth-preview__metadata-item-value {
  font-size: toRem(16);
  font-weight: 500;
  line-height: 1.4;
  color: var(--text-primary-main);
}

.auth-preview__card-divider {
  background: var(--border-primary-main);
  width: 100%;
  height: toRem(1);
}

.auth-preview__card-button {
  width: 100%;
}

.auth-preview__card-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(16);
}

.auth-preview__card-error-icon-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--error-main);
  color: var(--white);

  @include static-icon-size(64);
}

.auth-preview__card-error-icon {

  @include static-icon-size(28);
}

.auth-preview__card-error-title {
  color: var(--error-main);
  text-align: center;
  font-size: toRem(20);
  line-height: 1.1;
  font-weight: 500;
}

.auth-preview__card-error-message {
  text-align: center;
  color: var(--text-secondary-main);
  font-size: toRem(16);
  line-height: 1.6;
  max-width: 80%;
}

