.kyc-providers {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.kyc-providers__content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  padding: toRem(56);
}

.kyc-providers__title {
  margin-bottom: toRem(40);

  @include respond-to(xmedium) {
    position: relative;
    font-size: toRem(32);
  }
}

.kyc-providers__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: toRem(24);
  max-width: 75%;

  @include respond-to(xmedium) {
    display: flex;
    flex-direction: column;
    max-width: none;
  }
}

.kyc-providers__card-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(16);
}

.kyc-providers__card-error-icon-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--error-main);
  color: var(--white);

  @include static-icon-size(36);
}

.kyc-providers__card-error-icon {

  @include static-icon-size(28);
}

.kyc-providers__card-error-title {
  color: var(--error-main);
  font-size: toRem(20);
  line-height: 1.1;
  font-weight: 500;
}

.kyc-providers__card-error-message {
  color: var(--text-secondary-main);
  font-size: toRem(16);
  line-height: 1.6;
}

.kyc-providers__card-button {
  margin: toRem(16) auto 0;
}
