.kyc-providers {
  display: flex;
  flex-direction: column;
}

.kyc-providers__title {
  margin-bottom: toRem(40);
}

.kyc-providers__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: toRem(24);
  max-width: 75%;
}
