.Toastify {
  --toastify-toast-width: toRem(380);
  --toastify-font-family: var(--font-family-primary);
}

.Toastify__toast.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-tertiary-main);
  padding: toRem(12);
  border-radius: toRem(12);
  min-width: toRem(380);
  width: max-content;

  @include respond-to(tablet) {
    width: auto;
  }
}

.Toastify__toast-body {
  position: relative;
  width: 100%;

  & > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.toast__body {
  display: flex;
  position: relative;
  gap: toRem(16);
  width: 100%;
  padding-right: toRem(12);
}

.toast__icon-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;

  @include static-icon-size(64);

  .Toastify__toast--success & {
    background: var(--success-bg);
    color: var(--text-primary-invert-main);
  }

  .Toastify__toast--error & {
    background: var(--error-bg);
    color: var(--text-primary-invert-main);
  }

  .Toastify__toast--warning & {
    background: var(--warning-bg);
    color: var(--text-primary-invert-main);
  }

  .Toastify__toast--info & {
    background: var(--info-bg);
    color: var(--text-primary-invert-main);
  }
}

.toast__icon {
  @include static-icon-size(40);

  border-radius: 50%;
  padding: toRem(8);

  .Toastify__toast--success & {
    background-color: var(--success-main);
  }

  .Toastify__toast--error & {
    background-color: var(--error-main);
  }

  .Toastify__toast--warning & {
    background-color: var(--warning-main);
  }

  .Toastify__toast--info & {
    background-color: var(--info-main);
  }
}

.toast__details {
  display: flex;
  flex-direction: column;
  padding: toRem(8) 0;
  flex: 1;
}

.toast__title {
  font-size: toRem(16);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: toRem(0.1);
  color: var(--text-primary-invert-main);
}

.toast__message {
  font-size: toRem(14);
  line-height: 1.5;
  letter-spacing: toRem(0.25);
  color: var(--text-primary-invert-dark);
  white-space: pre-line;

  .transaction-toast__message-icon {
    display: inline;
    vertical-align: baseline;
    width: 0.9em;
    height: 0.9em;
    transform: translateY(toRem(2));
    margin-left: toRem(4);
  }
}

.Toastify__close-button {
  position: absolute;
  top: toRem(12);
  right: toRem(12);
  color: var(--text-primary-invert-main);
  padding: 0;
  font-size: toRem(28);
  line-height: 0;
  opacity: 0.5;
}

.Toastify__progress-bar {
  height: toRem(2);

  .Toastify__toast--success & {
    background: var(--text-primary-invert-main);
  }

  .Toastify__toast--error & {
    background: var(--text-primary-invert-main);
  }

  .Toastify__toast--warning & {
    background: var(--text-primary-invert-main);
  }

  .Toastify__toast--info & {
    background: var(--text-primary-invert-main);
  }
}
