.auth-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(48);
}

.auth-success__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: toRem(16);
}

.auth-success__header-icon-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--success-main);

  @include static-icon-size(64);
}

.auth-success__header-icon {
  color: var(--white);

  @include static-icon-size(28);
}

.auth-success__header-subtitle {
  text-transform: capitalize;
  text-align: center;
  color: var(--text-tertiary-main);
  font-size: toRem(20);
}

$card-padding-side: #{toRem(24)};

.auth-success__card {
  display: flex;
  flex-direction: column;
  gap: toRem(24);
  width: 100%;

  @include card;

  padding: $card-padding-side 0 $card-padding-side 0;
}

.auth-success__card-title {
  align-self: flex-start;
  color: var(--text-primary-main);
  font-size: toRem(16);
  line-height: 1.4;
  font-weight: 500;
  padding-left: $card-padding-side;
  padding-right: $card-padding-side;
}

.auth-success__metadata {
  display: flex;
  flex-direction: column;
  gap: toRem(24);
  width: 100%;
  padding-left: $card-padding-side;
  padding-right: $card-padding-side;
}

.auth-success__metadata-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: toRem(12);
}

.auth-success__metadata-item-label {
  font-size: toRem(16);
  line-height: 1.4;
  color: var(--text-secondary-main);
}

.auth-success__metadata-item-value {
  display: flex;
  align-items: center;
  text-align: right;
  gap: toRem(8);
  font-size: toRem(16);
  font-weight: 500;
  line-height: 1.4;
  color: var(--text-primary-main);
}

.auth-success__metadata-item-value-icon {
  width: 1.2em;
  height: 1.2em;
}

.auth-success__card-divider-wrp {
  padding: 0 $card-padding-side;
  width: 100%;
}

.auth-success__card-divider {
  background: var(--border-primary-main);
  width: 100%;
  height: toRem(1);
}

.auth-success__copy-field-wrp {
  padding-left: $card-padding-side;
  padding-right: $card-padding-side;
  width: 100%;
}

.auth-success__copy-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: toRem(16);
  background: rgba(0, 0, 0, 0.05);
  border: toRem(1) solid var(--border-primary-main);
}

.auth-success__tip {
  color: var(--text-secondary-main);
}

.auth-success__tip-link {
  color: var(--primary-main);
}

.auth-success__card-published-item {
  display: flex;
  align-items: center;
  gap: toRem(24);
  width: 100%;
  padding: 0 $card-padding-side;
}

.auth-success__card-published-item-icon-wrp {
  position: relative;

  @include static-icon-size(48);
}

.auth-success__card-published-item-chain-icon {
  width: 100%;
  height: 100%;
}

.auth-success__card-published-item-success-icon-wrp {
  position: absolute;
  right: 0;
  bottom: 0;
  border: toRem(1) solid var(--background-secondary-main);
  border-radius: 50%;
  color: var(--background-secondary-main);
  background: var(--success-main);

  @include static-icon-size(20);
}

.auth-success__card-published-item-success-icon {
  width: 100%;
  height: 100%;
}

.auth-success__card-published-item-title {
  color: var(--text-primary-main);
  font-size: toRem(16);
  line-height: 1.4;
  font-weight: 500;
}

