.ui-kit {
  display: flex;
  flex-direction: column;
  gap: toRem(24);
  padding: toRem(24) var(--app-padding-right) toRem(24) var(--app-padding-left);
}

.ui-kit__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: toRem(12);
}

.ui-kit__inputs,
.ui-kit__select-fields {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fill, #{toRem(210)});
  grid-gap: toRem(36);
}

.input__icon {
  width: toRem(24);
  height: toRem(24);
}

.ui-kit__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: toRem(32);
}

.ui-kit__common {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: toRem(56);
}

.ui-kit__collapse-wrp {
  width: 100%;
}

.ui-kit__collapse-btn {
  width: 100%;
}

.ui-kit__collapse-body {
  font-size: toRem(24);
}

.ui-kit__icons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, toRem(24));
  grid-gap: toRem(24);

  & > * {
    width: toRem(24);
    height: toRem(24);
  }
}

.ui-kit__select-option {
  display: grid;
  align-items: center;
  grid-template-columns: toRem(24) 1fr;
  grid-gap: toRem(12);
}

.ui-kit__select-option-icon {
  width: toRem(24);
  height: toRem(24);
}

.ui-kit__input-icon {
  max-width: toRem(24);
  max-height: toRem(24);
}

.ui-kit__modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui-kit__modal-body {
  display: grid;
  gap: toRem(24);
  max-width: toRem(500);
}

.ui-kit__modal-text {
  grid-column: 1 / -1;
}

.ui-kit__modal-action-btn {
  width: 100%;
}
