.progress-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(32);
}

.progress-loader__progress {
  text-align: center;
  align-self: center;
  color: var(--primary-main);
  font-size: toRem(20);
  font-weight: 700;
  line-height: 1.2;
}
