.proof-submitting-loader {
  align-items: center;
  text-align: center;
}

.proof-submitting-loader__animation {
  width: 65%;
}

.proof-submitting-loader__title {
  margin-bottom: toRem(16);
  font-size: toRem(32);
}
