@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans Light'), local('NunitoSans-Light'),
  url('NunitoSans/NunitoSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans Regular'), local('NunitoSans-Regular'),
  url('NunitoSans/NunitoSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans Semibold'), local('NunitoSans-Semibold'),
  url('NunitoSans/NunitoSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans Bold'), local('NunitoSans-Bold'),
  url('NunitoSans/NunitoSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans ExtraBold'), local('NunitoSans-ExtraBold'),
  url('NunitoSans/NunitoSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'euclidCircularB';
  src: url('EuclidCircularB/EuclidCircularB-Bold.eot');
  src: local('Euclid Circular B Bold'), local('EuclidCircularB-Bold'),
  url('EuclidCircularB/EuclidCircularB-Bold.eot?#iefix') format('embedded-opentype'),
  url('EuclidCircularB/EuclidCircularB-Bold.woff2') format('woff2'),
  url('EuclidCircularB/EuclidCircularB-Bold.woff') format('woff'),
  url('EuclidCircularB/EuclidCircularB-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'euclidCircularB';
  src: url('EuclidCircularB/EuclidCircularB-Italic.eot');
  src: local('Euclid Circular B Italic'), local('EuclidCircularB-Italic'),
  url('EuclidCircularB/EuclidCircularB-Italic.eot?#iefix') format('embedded-opentype'),
  url('EuclidCircularB/EuclidCircularB-Italic.woff2') format('woff2'),
  url('EuclidCircularB/EuclidCircularB-Italic.woff') format('woff'),
  url('EuclidCircularB/EuclidCircularB-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'euclidCircularB';
  src: url('EuclidCircularB/EuclidCircularB-Medium.eot');
  src: local('Euclid Circular B Medium'), local('EuclidCircularB-Medium'),
  url('EuclidCircularB/EuclidCircularB-Medium.eot?#iefix') format('embedded-opentype'),
  url('EuclidCircularB/EuclidCircularB-Medium.woff2') format('woff2'),
  url('EuclidCircularB/EuclidCircularB-Medium.woff') format('woff'),
  url('EuclidCircularB/EuclidCircularB-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'euclidCircularB';
  src: url('EuclidCircularB/EuclidCircularB-SemiBoldItalic.eot');
  src: local('Euclid Circular B SemiBold Italic'), local('EuclidCircularB-SemiBoldItalic'),
  url('EuclidCircularB/EuclidCircularB-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('EuclidCircularB/EuclidCircularB-SemiBoldItalic.woff2') format('woff2'),
  url('EuclidCircularB/EuclidCircularB-SemiBoldItalic.woff') format('woff'),
  url('EuclidCircularB/EuclidCircularB-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'euclidCircularB';
  src: url('EuclidCircularB/EuclidCircularB-BoldItalic.eot');
  src: local('Euclid Circular B Bold Italic'), local('EuclidCircularB-BoldItalic'),
  url('EuclidCircularB/EuclidCircularB-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('EuclidCircularB/EuclidCircularB-BoldItalic.woff2') format('woff2'),
  url('EuclidCircularB/EuclidCircularB-BoldItalic.woff') format('woff'),
  url('EuclidCircularB/EuclidCircularB-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'euclidCircularB';
  src: url('EuclidCircularB/EuclidCircularB-MediumItalic.eot');
  src: local('Euclid Circular B Medium Italic'), local('EuclidCircularB-MediumItalic'),
  url('EuclidCircularB/EuclidCircularB-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('EuclidCircularB/EuclidCircularB-MediumItalic.woff2') format('woff2'),
  url('EuclidCircularB/EuclidCircularB-MediumItalic.woff') format('woff'),
  url('EuclidCircularB/EuclidCircularB-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'euclidCircularB';
  src: url('EuclidCircularB/EuclidCircularB-SemiBold.eot');
  src: local('Euclid Circular B SemiBold'), local('EuclidCircularB-SemiBold'),
  url('EuclidCircularB/EuclidCircularB-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('EuclidCircularB/EuclidCircularB-SemiBold.woff2') format('woff2'),
  url('EuclidCircularB/EuclidCircularB-SemiBold.woff') format('woff'),
  url('EuclidCircularB/EuclidCircularB-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'euclidCircularB';
  src: url('EuclidCircularB/EuclidCircularB-Light.eot');
  src: local('Euclid Circular B Light'), local('EuclidCircularB-Light'),
  url('EuclidCircularB/EuclidCircularB-Light.eot?#iefix') format('embedded-opentype'),
  url('EuclidCircularB/EuclidCircularB-Light.woff2') format('woff2'),
  url('EuclidCircularB/EuclidCircularB-Light.woff') format('woff'),
  url('EuclidCircularB/EuclidCircularB-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'euclidCircularB';
  src: url('EuclidCircularB/EuclidCircularB-Regular.eot');
  src: local('Euclid Circular B Regular'), local('EuclidCircularB-Regular'),
  url('EuclidCircularB/EuclidCircularB-Regular.eot?#iefix') format('embedded-opentype'),
  url('EuclidCircularB/EuclidCircularB-Regular.woff2') format('woff2'),
  url('EuclidCircularB/EuclidCircularB-Regular.woff') format('woff'),
  url('EuclidCircularB/EuclidCircularB-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'euclidCircularB';
  src: url('EuclidCircularB/EuclidCircularB-LightItalic.eot');
  src: local('Euclid Circular B Light Italic'), local('EuclidCircularB-LightItalic'),
  url('EuclidCircularB/EuclidCircularB-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('EuclidCircularB/EuclidCircularB-LightItalic.woff2') format('woff2'),
  url('EuclidCircularB/EuclidCircularB-LightItalic.woff') format('woff'),
  url('EuclidCircularB/EuclidCircularB-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
