@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans Light'), local('NunitoSans-Light'),
  url('NunitoSans/NunitoSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans Regular'), local('NunitoSans-Regular'),
  url('NunitoSans/NunitoSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans Semibold'), local('NunitoSans-Semibold'),
  url('NunitoSans/NunitoSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans Bold'), local('NunitoSans-Bold'),
  url('NunitoSans/NunitoSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans ExtraBold'), local('NunitoSans-ExtraBold'),
  url('NunitoSans/NunitoSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
