.word-find-game{
  position: relative;
  background: var(--black);
}

.word-find-game__text{
  margin-bottom: toRem(48);
  margin-top: toRem(70);
  color: var(--white);
  font-size: var(--field-text-font-size);
  text-align: center;
}
