/* stylelint-disable declaration-no-important */
/* stylelint-disable unit-disallowed-list */
html {
  font-family: var(--app-font-family);
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: vh(100);
  display: flex;
  flex-direction: column;
}

/* stylelint-disable-next-line */
body, #root {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--text-primary-main);
}

body {
  background: url("/images/cells-bg.png") no-repeat top center / contain;
}

#root {
  background: url("/images/app-bg.png") no-repeat center right / contain;

  &:before {
    content: "";
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--background-primary-main-rgb), 0.5);
    opacity: 0.5;
    filter: blur(#{toRem(2)});
  }

  @include respond-to(small) {
    background-position: center center;
    background-size: cover;
  }
}

input,
select,
textarea {
  background: var(--background-primary-main);
  color: var(--text-primary-main);
  font-family: var(--app-font-family);
  font-size: toRem(16);
  font-weight: 400;

  &:focus {
    outline: none;
  }
}

body,
span,
p,
a {
  font-size: toRem(14);
}

button {
  border: none;
  width: auto;
  overflow: visible;
  cursor: pointer;
  user-select: none;
  background: transparent;
  font-family: var(--app-font-family);
  font-size: toRem(16);
  color: var(--text-primary-main);
  line-height: 1.5;
  font-weight: 600;
  outline: 0;
  margin: 0;
  padding: 0;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

body,
p,
li,
ul {
  list-style-type: none;
  color: var(--text-primary-main);
}

p {
  line-height: 2;

  @include respond-to(tablet) { line-height: 1.6; }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-secondary-main);
  font-family: var(--app-font-family);
  line-height: 1.1;
}

h1 {
  font-size: toRem(24);
}

h2 {
  font-size: toRem(64);
  font-weight: 700;
}

h3 {
  font-size: toRem(32);
  font-weight: 600;
}

h4 {
  font-size: toRem(24);
}

h5 {
  font-size: toRem(18);
}

a {
  font-size: toRem(16);
  line-height: 1.25;
  font-weight: 600;
  color: var(--primary-main);
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.app__main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 var(--app-padding-right) 0 var(--app-padding-left);

  & > * {

    &:first-child {
      flex: 1;
    }
  }

  @include respond-to(xsmall) {
    padding-top: toRem(24);
    padding-bottom: toRem(24);
  }
}

.app__step-subtitle {
  color: var(--text-primary-main);
  font-size: toRem(20);
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: toRem(0.4);
}

.app__badge {
  display: flex;
  align-items: center;
  gap: toRem(10);
  width: max-content;
  padding: toRem(8);
  border-radius: toRem(64);
  background: var(--background-secondary-main);
  box-shadow: 0 toRem(5.09117) toRem(13.57646) 0 rgba(0, 0, 0, 0.04),
    0 toRem(1) toRem(1) 0 rgba(0, 0, 0, 0.05),
    0 toRem(6) toRem(24) 0 rgba(0, 0, 0, 0.03);
}

.app__badge-item {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: toRem(2) solid var(--background-secondary-main);

  /* FIXME: remove */
  background: var(--text-secondary-main);

  @include static-icon-size(40);
}

.app__badge-item-icon {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.app__badge-splitter {
  @include static-icon-size(23.333);
}

.app__badge-splitter-icon {
  @include static-icon-size(23.333);
}

.app__step-actions {
  display: flex;
  align-items: center;
  gap: toRem(32);
}

.app__step-actions-tip {
  display: flex;
  align-items: center;
  gap: toRem(4);
  color: var(--text-secondary-main);

}

.app__step-actions-tip-text {
  display: flex;
  align-items: baseline;
  gap: toRem(2.4);
  font-size: toRem(14);
  font-weight: 400;
  color: var(--text-primary-main);

  &--accent {
    color: var(--text-secondary-main);
    font-weight: 600;
  }
}

.app__step-actions-tip-icon {
  @include static-icon-size(20);
}

.app__text-link {
  text-decoration: underline;
  color: var(--text-primary-main);
  font: inherit;
}

.app__kyc-provider-item-tooltip {
  white-space: normal;
  gap: toRem(4);
  font-size: toRem(14);
  font-weight: 400;
  line-height: 1.3;
  color: var(--text-primary-invert-main);
  width: 100%;

  b {
    font-weight: 700;
  }
}
