/* stylelint-disable scss/dollar-variable-empty-line-before */
$col-dark: rgba(0 0 0 / 87%);
$col-light: #ffffff;

$col-primary-light: #6487ff;
$col-primary-main: #145bd7;
$col-primary-dark: #0033a5;

$col-secondary-light: #62666d;
$col-secondary-main: #383c42;
$col-secondary-dark: #12161b;

$col-error-light: #ff573f;
$col-error-main: #d71414;
$col-error-dark: #9d0000;

$col-warning-light: #ffe34e;
$col-warning-main: #d7d014;
$col-warning-dark: #ac8200;

$col-success-light: #66ffc0;
$col-success-main: #14d78f;
$col-success-dark: #00a461;

$col-info-light: $col-light;
$col-info-main: #edeff2;
$col-info-dark: #d2d4dc;

$col-bg-primary: $col-light;
$col-bg-secondary: #fafafa;
$col-bg-paper: $col-light;
$col-bg-tertiary: #e7e9ee;
$col-bg-divider: rgba(0 0 0 / 12%);

$col-txt-primary-light: $col-dark;
$col-txt-primary-dark: $col-light;
$col-txt-secondary-light: rgba(0 0 0 / 60%);
$col-txt-secondary-dark: rgba(255 255 255 / 70%);
$col-txt-disabled-light: rgba(0 0 0 / 38%);
$col-txt-disabled-dark: rgba(255 255 255 / 38%);

$col-border-light: rgba(0 0 0 / 8%);
/* stylelint-enable scss/dollar-variable-empty-line-before */
