@use 'sass:map';
@import 'variables';

$media-breakpoints: (
  xs: $media-xs,
  sm: $media-sm,
  md: $media-md,
  xm: $media-xm,
  lg: $media-lg,
  xl: $media-xl,
);

@mixin respond-above($media) {
  $breakpoint: map.get($media-breakpoints, $media);

  @if $breakpoint {
    @media (min-width: ($breakpoint)) {
      @content;
    }
  } @else {
    @media (min-width: ($media)) {
      @content;
    }
  }
}

@mixin respond-to($media) {
  $breakpoint: map.get($media-breakpoints, $media);

  @if $breakpoint {
    @media (max-width: ($breakpoint - 1)) {
      @content;
    }
  } @else {
    @media (max-width: ($media - 1)) {
      @content;
    }
  }
}
