%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: to-rem(1);
  margin: calc(#{to-rem(1)} * -1);
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: to-rem(1);
}
%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
