@import 'variables';

/* stylelint-disable scss/selector-no-redundant-nesting-selector */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable custom-property-empty-line-before */
:root,
:before,
:after {
  /* Text variables */
  & {
    --txt-font-family: #{$txt-font-family};
    --txt-font-weight-light: #{$txt-font-weight-light};
    --txt-font-weight-regular: #{$txt-font-weight-regular};
    --txt-font-weight-medium: #{$txt-font-weight-medium};
    --txt-font-weight-bold: #{$txt-font-weight-bold};
    --txt-font-weight-extra-bold: #{$txt-font-weight-extra-bold};

    --txt-font-size-regular: #{$txt-font-size-regular};
    --txt-font-size-h1: #{$txt-font-size-h1};
    --txt-font-size-h2: #{$txt-font-size-h2};
    --txt-font-size-h3: #{$txt-font-size-h3};
    --txt-font-size-h4: #{$txt-font-size-h4};
    --txt-font-size-subtitle1: #{$txt-font-size-subtitle1};
    --txt-font-size-subtitle2: #{$txt-font-size-subtitle2};
    --txt-font-size-body1: #{$txt-font-size-body1};
    --txt-font-size-button: #{$txt-font-size-button};
    --txt-font-size-caption: #{$txt-font-size-caption};

    --txt-font-line-height-h1: #{$txt-font-line-height-h1};
    --txt-font-line-height-h2: #{$txt-font-line-height-h2};
    --txt-font-line-height-h3: #{$txt-font-line-height-h3};
    --txt-font-line-height-h4: #{$txt-font-line-height-h4};
    --txt-font-line-height-subtitle1: #{$txt-font-line-height-subtitle1};
    --txt-font-line-height-subtitle2: #{$txt-font-line-height-subtitle2};
    --txt-font-line-height-body1: #{$txt-font-line-height-body1};
    --txt-font-line-height-button: #{$txt-font-line-height-button};
    --txt-font-line-height-caption: #{$txt-font-line-height-caption};

    --txt-font-letter-spacing-h1: #{$txt-font-letter-spacing-h1};
    --txt-font-letter-spacing-h2: #{$txt-font-letter-spacing-h2};
    --txt-font-letter-spacing-h3: #{$txt-font-letter-spacing-h3};
    --txt-font-letter-spacing-h4: #{$txt-font-letter-spacing-h4};
    --txt-font-letter-spacing-subtitle1: #{$txt-font-letter-spacing-subtitle1};
    --txt-font-letter-spacing-subtitle2: #{$txt-font-letter-spacing-subtitle2};
    --txt-font-letter-spacing-body1: #{$txt-font-letter-spacing-body1};
    --txt-font-letter-spacing-button: #{$txt-font-letter-spacing-button};
    --txt-font-letter-spacing-caption: #{$txt-font-letter-spacing-caption};

    --txt-font-weight-h1: #{$txt-font-weight-h1};
    --txt-font-weight-h2: #{$txt-font-weight-h2};
    --txt-font-weight-h3: #{$txt-font-weight-h3};
    --txt-font-weight-h4: #{$txt-font-weight-h4};
    --txt-font-weight-subtitle1: #{$txt-font-weight-subtitle1};
    --txt-font-weight-subtitle2: #{$txt-font-weight-subtitle2};
    --txt-font-weight-body1: #{$txt-font-weight-body1};
    --txt-font-weight-button: #{$txt-font-weight-button};
    --txt-font-weight-caption: #{$txt-font-weight-caption};
  }

  /* UI variables */
  & {
    --ui-max-width: #{to-rem(1200)};
    --ui-appbar-height: #{to-rem(77)};
    --ui-content-border-radius: #{to-rem(16)};
  }
}
/* stylelint-enable scss/selector-no-redundant-nesting-selector */
/* stylelint-enable no-duplicate-selectors */
/* stylelint-enable custom-property-empty-line-before */
