body .invalid-chain-modal {
  --basic-modal-max-width: #{toRem(428)};
}

.invalid-chain-modal .invalid-chain-modal__icon {
  --icon-wrapper-inner: var(--error-light);
  --icon-wrapper-icon: var(--error-main);
}

.invalid-chain-modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: toRem(24);
}

.invalid-chain-modal__action-btn {
  width: 100%;
}
