.word-find-game{
  position: absolute;
  background: var(--black);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
flex-direction: column;
  align-items: center;

}

.word-find-game__header{
  width: 100%;
  padding: toRem(32);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.word-find-game__header-icon{
 width: toRem(20);
  height: toRem(20);
}

.word-find-game__text{
  color: var(--white);
  font-size: var(--field-text-font-size);
  text-align: center;
}

.word-find-game__header-count{
  font-size: var(--field-text-font-size);
  color: var(--white);
  font-weight: 500;
}

.word-find-game__canvas{
  margin: auto;
}

.word-find-game__text-two{
  color: var(--white);
  font-size: toRem(20);
  text-align: center;
  font-weight: 500;
}
