.kyc-providers-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: toRem(24);
  background: var(--background-secondary-main);
  padding: toRem(16);
  border-radius: toRem(12);

  /* Shadow/Medium */
  box-shadow: toRem(0) toRem(5) toRem(14) toRem(0) rgba(0, 0, 0, 0.04),
    toRem(0) toRem(1) toRem(1) toRem(0) rgba(0, 0, 0, 0.05),
    toRem(0) toRem(6) toRem(24) toRem(0) rgba(0, 0, 0, 0.03);

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.kyc-providers-item__icon-wrp {
  $local-z-index: 1;

  margin-left: auto;
  cursor: pointer;
  z-index: $local-z-index;
}

.kyc-providers-item__icon {
  @include static-icon-size(48);

  &--decor {
    color: var(--text-primary-main);

    @include static-icon-size(20);
  }
}

.kyc-providers-item__name {
  color: var(--text-primary-main);
  font-size: toRem(16);
  font-weight: 600;
}

.kyc-providers-item__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
