.main-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: toRem(24);
}

.main-page__content {
  background: rgba(var(--background-secondary-main-rgb), 0.9);
  border: toRem(1) solid var(--background-secondary-main);
  border-radius: toRem(16);
  backdrop-filter: blur(#{toRem(18)});
}

.main-page__extra {
  border-radius: toRem(16);
  border: toRem(1) solid rgba(var(--background-secondary-main-rgb), 1);
  background: linear-gradient(197deg, rgba(var(--background-secondary-main-rgb), 0.6) -3.59%, rgba(255, 255, 255, 0.32) 103.93%);
  backdrop-filter: blur(#{toRem(18)});
}
