@media (prefers-color-scheme: dark) {
  .app__init {
    --app-bg: #0e1117;
    --app-txt: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  .app__init {
    --app-bg: #ffffff;
    --app-txt: #0e1117;
  }
}

.app__init {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--app-bg);
  color: var(--app-txt);
}
