.wallet-connection {
  display: flex;
  flex-direction: column;
}

.wallet-connection__title {
  margin: toRem(32) 0 toRem(40);
}

.app__step-sidebar-content-title {
  .typing-animated-text__content, .typing-animated-text__stub {
    font-size: toRem(32);
  }
}
