.auth-providers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(48);
}

.auth-providers__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: toRem(16);
}

.auth-providers__header-icon {
  @include static-icon-size(48);
}

.auth-providers__header-subtitle {
  text-transform: capitalize;
  text-align: center;
  color: var(--text-tertiary-main);
  font-size: toRem(20);
}

.auth-providers__list {
  display: flex;
  flex-direction: column;
  gap: toRem(16);
  width: 100%;
}

.auth-providers__tip {
  color: var(--text-secondary-main);
}

.auth-providers__tip-link {
  text-decoration: underline;
  color: var(--primary-main);
}

