.proof-generating {
  align-items: center;
}

.proof-generating__progress {
  margin-bottom: toRem(32);
}

.proof-generating__title {
  font-size: toRem(32);
}

.proof-generating__subtitle {
  text-align: center;
  margin-top: toRem(16);
}

.proof-generating__actions {
  margin-top: toRem(32);
}
