.snap-connection__badge {
  gap: 0;
}

.snap-connection__badge-item-snap {
  padding: toRem(6);

  /* FIXME */
  background: #52b69a;
}

.snap-connection__badge-item {
  &:not(.snap-connection__badge-item-snap) {
    margin-left: -#{toRem(18)};
  }
}

.snap-connection__title {
  font-size: toRem(32);
  margin: toRem(32) 0 toRem(16);
}

.snap-connection__subtitle {
  font-size: toRem(18);
  margin-bottom: toRem(40);
}

.snap-connection__description {
  margin-top: toRem(32);
}

.snap-connection__description-title {
  color: var(--text-secondary-dark);
  font-size: toRem(14);
  font-weight: 500;
}

.snap-connection__description-item {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: toRem(14);
  color: var(--text-secondary-dark);
  font-weight: 400;
  margin-top: toRem(12);
}

.snap-connection__description-item-icon{
  width: toRem(20);
  height: toRem(20);
  margin-right: toRem(12);
}
