.snap-connection__badge {
  gap: 0;
}

.snap-connection__badge-item-snap {
  padding: toRem(6);

  /* FIXME */
  background: #52b69a;
}

.snap-connection__badge-item {
  &:not(.snap-connection__badge-item-snap) {
    margin-left: -#{toRem(16)};
  }
}

.snap-connection__badge-item-metamask {
  padding: toRem(6);
  background: var(--error-light);
}

.snap-connection__title {
  font-size: toRem(44);
  margin: toRem(32) 0 toRem(12);
  text-align: start;
}

.snap-connection__subtitle {
  font-size: toRem(18);
  margin-top: toRem(40);
}

.snap-connection__description {
  margin-bottom: toRem(28);
}

.snap-connection__description-title {
  color: var(--text-secondary-dark);
  font-size: toRem(14);
  font-weight: 500;
}

.snap-connection__description-item {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: toRem(14);
  color: var(--text-secondary-dark);
  font-weight: 400;
  margin-top: toRem(12);
}

.snap-connection__description-item-icon{
  width: toRem(20);
  height: toRem(20);
  margin-right: toRem(12);
}

.snap-connection__button .app-button__icon-left {
  width: toRem(24);
  height: toRem(24);
}

.snap-connection__button{
  margin: toRem(16) 0;
}
