.app-navbar {
  display: flex;
  align-items: center;
  gap: toRem(24);
  padding: toRem(24) var(--app-padding-right) toRem(24) var(--app-padding-left);

  @include respond-to(tablet) {
    flex-wrap: wrap;
  }
}

.app-navbar__logo {
  max-width: toRem(102);
  width: 100%;
}

.app-navbar__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: toRem(24);

  @include respond-to(xsmall) {
    width: 100%;
  }
}

.navbar__connection-btn {
  font-weight: 600;
  font-size: toRem(14);
  line-height: 1.4;
  color: var(--text-primary-main);

  @include respond-to(xsmall) {
    flex: 1;
  }
}

.app-navbar .navbar__account-link {
  line-height: 1.4;
  color: var(--text-primary-main);
  padding: 0;

  --button-icon-size: #{toRem(26)};
}
